<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
    <div class="wp-block-group">

        <h1 class="wp-block-heading has-text-align-center has-large-font-size">Page Not Found</h1>
        <p class="has-text-align-center">Oops! The page you are looking for doesn't exist. It might have been moved or deleted.</p>
        <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
        <div class="wp-block-buttons">
            <div class="wp-block-button">
                <a class="wp-block-button__link wp-element-button" href="/">Back to Home</a>
            </div>
            </div>
        </div>
</main>